<div *ngIf="transformaciones.length > 0">
  <h2>Transformaciones de {{ personajeName }}</h2>
  <div class="card" *ngFor="let transformacion of transformaciones; let i = index">
    <h3>{{ transformacion.name }}</h3>
    <p><strong>Ki:</strong> {{ transformacion.ki }}</p>
    <button (click)="abrirModal(transformacion)">Editar</button>
  </div>
</div>



<button (click)="VerPersonaje()">Ver Personajes</button>

<app-personajes-editar
  *ngIf="modalAbierto"
  [transformacion]="personajeSeleccionado"
  (cerrar)="cerrarModal()"
  (guardar)="guardarTransformacionActualizada($event)"
></app-personajes-editar>
