
<div class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">


  <div class="bg-orange-300 rounded-lg shadow-lg w-full max-w-sm p-6 relative mx-4 flex flex-col">
      
    <h2 class="text-xl font-bold text-center mb-4">Editar Transformación</h2>
    <label for="name">Nombre:</label>
    <input id="name" [(ngModel)]="transformacion.name" type="text" readonly  />
    <label for="link">link:</label>
    <input id="link" [(ngModel)]="transformacion.image" type="text" readonly />
    <label for="ki">Ki:</label>
    <input id="ki" [(ngModel)]="ki" type="number" min="1" />

    <div class="modal-actions">
      <button (click)="guardarCambios()">Guardar</button>
      <button (click)="cerrarModal()">Cancelar</button>
    </div>
  </div>
</div>
