<div class=" ">
    <div class="flex p-3.5 items-center" *ngFor="let personaje of personajes">
        <div class="w-32 h-46 flex-shrink-0">
            <img class="w-full h-full object-cover rounded-lg" [src]="personaje.image" alt="{{ personaje.name }}" />
        </div>
        <div class="ml-4">
            <h3 class="text-xl font-semibold">{{ personaje.name }}</h3>
            <p class="text-sm text-gray-600"><strong>Race:</strong> {{ personaje.race }}</p>
            <p class="text-sm text-gray-600"><strong>Gender:</strong> {{ personaje.gender }}</p>
            <p class="text-sm text-gray-600"><strong>Ki:</strong> {{ personaje.ki }} / {{ personaje.maxKi }}</p>
            <p class="text-sm text-gray-600"><strong>Affiliation:</strong> {{ personaje.affiliation }}</p>
            <p class="text-sm text-gray-600"><strong>Description:</strong> {{ personaje.description }}</p>
        </div>
        <div class="ml-auto space-x-2">
            <button class="bg-gray-500 text-white px-4 py-2 rounded-xl hover:bg-gray-600" (click)="verTransformaciones(personaje.id)">Ver Transformaciones</button>
            <button class="bg-gray-500 text-white px-4 py-2 rounded-xl hover:bg-gray-600" (click)="abrirModal(personaje.id)">Ver Planeta</button>
        </div>
    </div>
</div>

<div *ngIf="modalAbierto">
    <app-planetas [personajeid]="personajeID"></app-planetas>
    <button class="bg-gray-400 text-white w-[60px] h-[40px] fixed top-[80%] left-[50%] transform -translate-x-1/2 flex items-center justify-center rounded-lg hover:bg-gray-500" (click)="cerrarModal()">Cerrar</button>
</div>
